*{
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: url('Gradient.png') no-repeat;
    background-size: cover;
}
.box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.box{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;

    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 36px;

    padding: 5vh;
}
.box h1{
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
}
.box input{
    border: none;
    border-radius: 8px;
    height: 5vh;
    padding-left: 1vw;
}
.buttons{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.box button{
    border: none;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to left, #00b09b, #96c93d, #00b09b);
    background-size: 200%;
    overflow: hidden;
    transition: .5s;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
    padding: 10px;
}
.box button:hover{
    background-position: right;
}
.box a{
    text-decoration: none;
    color: #800080;
    font-family: sans-serif;
    font-weight: 100;
}
